{% extends 'layout.twig' %}

{% block body %}
<h2 class="subtitle">Bugs</h2>

<div class="description">
  <div class="description_sub">
    <p>To do</p>
    <p>{{ issue_title._nb_todo }}</p>
  </div>
  <div class="description_sub">
    <p>Doing</p>
    <p>{{ issue_title._nb_doing }}</p>
  </div>
  <div class="description_sub">
    <p>Done</p>
    <p>{{ issue_title._nb_done }}</p>
  </div>
</div>

<div class="table_container">
  <table class="table_tache">
    <tr>
      <th>N°</th>
      <th>Nom</th>
      <th>Status</th>
      <th>Attribué</th>
      <th>JH</th>
      <th>Action</th>
    </tr>
    {% for subtitle in issue_title._issue_subtitle %}
      {% for issue in subtitle._list_issue %}
        <tr class="table_line">
          <td>{{ issue_title._id }}.{{ subtitle._id }}.{{ issue._id }}</td>
          <td>{{ issue._title }}</td>
          <td>{{ issue._item.labels[0] }}</td>
          <td>{{ issue._assignee }}</td>
          <td>{{ issue._nb_jh }}</td>
          <td>
            {% if issue._item.labels[0] != "Done" %}
              <form class="" action="/update_issue" method="post">
                <button class="{{ issue._item.labels[0] == "To Do" ?  'orange_button'  : 'green_button'}}" type="submit">{% if issue._item.labels[0] == "To Do" %}To Doing{% elseif issue._item.labels[0] == "Doing" %}To Done{% endif %}</button>
              </form>
            {% else %}
              <p class="done_status">Done</p>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>

{% endblock %}
